<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Angular-js</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body ng-app="store">
  <h1>Flatlander crafted Gems</h1>
  <h2>--an Angular store--</h2>
  <div ng-controller="StoreController as store">
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="product in store.products">
        <h3>
          {{product.name}}
          <em class="pull-right">{{product.price | currency}}</em>
          <img ng-src="{{product.images[0].thumb}}"/>
        </h3>
        <section ng-controller="PanelController as panel">
          <ul class="nav nav-pills">
            <li ng-class="{ active:panel.isSelected(1) }"> <a href ng-click="panel.selectTab(1)">Description</a> </li>
            <li ng-class="{ active:panel.isSelected(2) }"> <a href ng-click="panel.selectTab(2)">Specifications</a> </li>
            <li ng-class="{ active:panel.isSelected(3) }"> <a href ng-click="panel.selectTab(3)">Reviews</a> </li>
            {{tab}}
          </ul>
  <div class="panel" ng-show="panel.isSelected(1)">
    <h4>Description</h4>
    <p>{{product.description}}</p>
  </div>
  <div class="panel" ng-show="panel.isSelected(2)">
    <h4>Specifications</h4>
    <blockquote>None yet</blockquote>
  </div>
  <div class="panel" ng-show="panel.isSelected(3)">
    <h4>Reviews</h4>
    <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
    <blockquote>
      <b>Stars: {{reviewCtrl.review.stars}}</b>
      {{reviewCtrl.review.body}}
      <cite>by: {{reviewCtrl.review.author}}</cite>
    </blockquote>
      <h2>Submit a review</h2>
      <label>Rate us:</label>
      <select ng-model="reviewCtrl.review.stars" required>
        <option value="1">1 star</option>
        <option value="2">2 stars</option>
        <option value="3">3 stars</option>
        <option value="4">4 stars</option>
        <option value="5">5 stars</option>
      </select><br/>
      <label>Ur comments:</label>
      <textarea ng-model="reviewCtrl.review.body" required></textarea><br/>
      <label>By:</label>
      <input type="email" ng-model="reviewCtrl.review.author" required/><br/>
      <div> reviewForm is {{reviewForm.$valid}} </div>
      <input type="submit" value="Submit" />
    </form>
  </div>
    </section>
  </li>
  </ul>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
<script src="app.js"></script>
</html>
